html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(228, 219, 219);
  font-family: sans-serif;
  height: 300vh;
}

div.container {
  margin: 10px 70px 25px 70px;
}
header {
  background-color: rgba(44, 62, 80, 0.9);
  text-align: center;
  border-radius: 10px;
}
header h1 {
  padding: 30px;
  margin-bottom: 0px;
  color: #fff;
}
header p {
  color: rgb(155, 146, 146);
  margin-top: -25px;
  margin-bottom: -20px;
  font-size: 19px;
}
ul {
  padding: 15px;
}
li {
  list-style-type: none;
}
a {
  display: inline-block;
  text-decoration: none;
  margin: 12px;
  color: white;
  font-size: 16px;
}
header ul a:hover {
  color: #f1c40f;
}
section div.About {
  border-radius: 10px;
  background-color: #eee;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3); 
  margin-top: 30px;
}
section div h2,
section div p {
  text-align: left;
  margin-top: 2px;
  margin-bottom: 2px;
}
section div.About img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
i{
  font-size: 24px;
  background-color: #3498db;
  padding: 12px;
  position: fixed;
  bottom: 15px;
  right: 2px;
  border-radius: 7px;
}

section div.skills-main {
  background-image: url("../images/skills.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
}
div.skills-main h3 {
  color: white;
  text-transform: capitalize;
}
div.skills-main a {
  color: white;
  background-color: rgb(79, 165, 79);
  padding: 8px;
  font-size: 15px;
  border-radius: 5px;
  position: relative;
  top: 0;
  cursor: pointer;
  border: none;
  transition:  0.3s ease;
}
div.skills-main a:hover {
  top: -5px;
background-color: rgb(18, 121, 18,0.7); 
}

div.skills {
  background-color: white;
  opacity: 0.9;
  border-radius: 7px;
  padding: 10px;
}

div.projects-main{
  background-color: white;
  border-radius: 8px;
  margin-top: 40px;
  padding-bottom: 145px;
}
div.projects-main h3 {
  padding: 20px;
}
.projects-container{

  position: relative;
}
.project-card{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  margin: 10px;
  margin-left: 40px;
  padding: 20px;
  text-align: center;
  top:0;
  position:relative;
  transition:   box-shadow 0.3s ease;
  
}
.project-card h4 {
  margin-bottom: 10px;
}
.project-card p {
  font-size: 16px;
  color: #555;
}

.project-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}
.card-1 {
  background-color: #ff9999; 
}

.card-2 {
  background-color: #99ccff; 
  margin-top: 50px;
}

.card-3 {
  background-color: #99ff99; 
  top: -760px;
  left: 20px;
  
}
.blog{
  padding: 20px;
  background-color: rgba(5, 1, 1, 0.397);
  position: absolute;
  bottom: -97px;
  left: 40px;
  right: -20px;
  border-radius: 10px;
  padding-top: 0px;
  padding-bottom: 185px;
  padding-top: 10px;
}
.blog h2 , .blog p {
  text-align: center;
}
.blog h2 {
  font-size: 16px;
}


.contact-form {
  margin-top: 40px;
    background-color: #ccc6c6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    color: #333;
}

.contact-form p {
    color: #666;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-top: 15px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #28a745;
     outline: none; 
        box-shadow: 0 0 5px rgba(40, 167, 69, 0.5); 
      }


textarea {
    height: 80px;
}

button {
    margin-top: 20px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    color: #28a745 ;
    border: 1px solid #28a745;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
    color: white;
}



.footer {
  margin-top: 20px;
    background-color: #333; 
    color: #ccc; 
    padding: 1px 20px; 
    text-align: center; 
    font-size: 14px; 
    border-radius: 8px;
}

.footer a {
    color: #ffb400; 
    text-decoration: none;
    margin: 0 10px; 
}

.footer a:hover {
    text-decoration: underline; 
}



